apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: practive
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: hari75/argo-imagetest
    argocd-image-updater.argoproj.io/git-branch: main
    argocd-image-updater.argoproj.io/write-back-method: git:secret:argocd/git-creds
spec:
  project: default
  source:
    repoURL: https://github.com/Harii75/argocd-teszt
    targetRevision: main
    path: dev
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: practive
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

