apiVersion: argoproj.io/v1alpha1Add commentMore actions
kind: Application
metadata:
  name: practive
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Harii75/argocd-teszt 
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: practive
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
