apiVersion: apps/v1
kind: Deployment
metadata:
  name: practive-deployment
  namespace: practive
  labels:
    app: practive
  annotations:
    argocd-image-updater.argoproj.io/image-list: hari75/argo-imagetest
    argocd-image-updater.argoproj.io/hari75_argo-imagetest.update-strategy: semver
    argocd-image-updater.argoproj.io/hari75_argo-imagetest.allow-tags: regexp:^\\d+\\.0\\.0$
    argocd-image-updater.argoproj.io/write-back-method: git:secret:argocd-image-updater/git-creds
spec:
  replicas: 1
  selector:
    matchLabels:
      app: practive
  template:
    metadata:
      labels:
        app: practive
    spec:
      containers:
        - name: practive
          image: hari75/argo-imagetest:1.0
          command: ["sleep", "3600"]
          imagePullPolicy: Always
